{% extends 'base.html' %}


{% block title %}{% endblock title %}

{% block content %}
<h1>Home</h1>
<p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. It follows
    the "batteries-included" philosophy, providing a robust set of features out of the box, such as an ORM
    (Object-Relational Mapping), authentication, and an admin interface. This makes it an ideal choice for developers
    looking to build scalable web applications efficiently. Django's emphasis on reusability and modularity allows for
    easy integration of third-party libraries, while its strong community support ensures continuous improvement and a
    wealth of resources. With its focus on security and best practices, Django is well-suited for both beginners and
    experienced developers aiming to create dynamic and secure web applications.</p>
{% endblock content %}